<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php-5.6.40-nts-x86-web" />
            <remove name="php-5.6.40-nts-x64-web" />
            <remove name="php-5.5.38-nts-x64-web" />
            <remove name="php-7.3.6-nts-x86-web" />
            <remove name="php-5.6.40-nts-x86-web" />
            <remove name="php-5.6.40-nts-x64-web" />
            <remove name="php-5.5.38-nts-x64-web" />
            <remove name="php-7.3.6-nts-x86-web" />
            <add name="php-7.3.6-nts-x86-web" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="F:\PHPCUSTOM\phpcustom\server\php-7.3.6-nts-x86-web\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>